.projectLink {
  /* text-decoration: none;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  display: block; */
  font-family: Abhaya Libre;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.52px;
  text-align: left;
  text-decoration: none;
  color: #000;
}

.projectItem {
  list-style-type: none;
}

/* .projectList {
  padding: 0;
  margin-left: 55px;
  padding-top: 25px;
} */

.projectList {
  padding: 0;
  margin-left: 55px;
  padding-top: 25px;
  position: sticky; /* Makes the element sticky */
  top: 0; /* Adjusts the top offset from the viewport */
  z-index: 100; /* Ensures it stays above other content if necessary */
}

.openGroup {
  margin-left: 55px;
  font-family: Actor;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.52px;
  text-align: left;
  text-decoration: wavy;
  color: #000;
}

.active {
  /* Override the default active class styles */
  color: inherit; /* Example: Remove color change */
  text-decoration: none; /* Example: Remove underline */
}
