.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #000;
}

.cvLink {
  margin-top: 15px;
  margin-bottom: 15px;
}

.logo {
  margin-bottom: 50px;
}
