.nav {
  display: flex;
  /* margin-top: 82px;
  margin-left: 55px; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* gap: 5px; */
}

.link {
  font-family: Abhaya Libre;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.88px;
  text-align: left;
  text-decoration: none;
  color: #000;
}

.cvLink {
  /* margin-top: 15px; */
  /* margin-bottom: 15px; */
}

.logo {
  /* margin-bottom: 50px; */
  /* font-size: 20px; */
}
