/* Image gallery */

.imageGalleryContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* outline: 1px solid red; */
}

.imageList {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  /* margin-right: 145px;
  margin-bottom: 89px; */
  list-style-type: none;
  /* outline: 1px solid red; */
}

.imageItem {
  width: 181.75px;
  height: 123.75px;
}

.imageItem img {
  width: 181.75px;
  height: 123.75px;
  object-fit: cover;
  cursor: pointer;
  /* border: 1px solid rgb(174, 15, 0); */
  /* border-radius: 2px; */
}

/* Description */

.descriptionContainer {
  position: absolute;
  top: 515px;
  left: 535px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* outline: 1px solid red; */
  margin-top: 89px;
}

.title {
  font-family: Abhaya Libre;
  font-size: 32px;
  font-weight: 400;
  line-height: 28.31px;
  width: 681px;
}

.date {
  font-family: IBM Plex Sans Thai;
  font-size: 11px;
  font-weight: 400;
  line-height: 18.15px;
  text-align: left;
}

.description {
  margin-top: 30px;
  font-family: Abhaya Libre;
  font-size: 18px;
  font-weight: 400;
  /* line-height: 16.52px; */
  width: 681px;
}

/* Layout for when an image is selected */
.columnLayout {
  display: block;
  height: auto;
}

/* Adjusting images in the column layout */
.imageItemColumn img {
  margin-top: 20px; /* Adjust gap between images */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
}

/* Margin-top for the selected image */
.imageItemColumn .selected img {
  margin-top: 0;
}
