.imageList {
  display: flex;
  flex-direction: row;
  gap: 5px 5px;
  flex-wrap: wrap;
  justify-content:flex-end;

  margin-top: 130px;
  margin-right: 45px;
  margin-bottom: 89px;

  list-style-type: none;
}

.imageItem {
  /* width: calc((100% - 120px) / 4); */
  width: 200px;
}

.imageItem img {
  width: 178px;
  height: 120px;
  object-fit: cover;
  /* border: 10px solid rgb(174, 15, 0); */
  /* border-radius: 2px; */
}

.descriptionContainer {
  margin-right: 424px;
}

.title {
font-family: Abhaya Libre;
font-size: 24px;
font-weight: 400;
line-height: 28.31px;
}

.date {
font-family: IBM Plex Sans Thai;
font-size: 11px;
font-weight: 400;
line-height: 18.15px;
text-align: left;

}

.description {
margin-top: 30px;
font-family: Abhaya Libre;
font-size: 14px;
font-weight: 400;
line-height: 16.52px;
}
