.imageGalleryContainer {
  margin-top: 100px;
}

.imageList {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 100px;
  margin-right: 145px;
  margin-bottom: 89px;
  list-style-type: none;
}

.imageItem img {
  width: 178px;
  height: 120px;
  object-fit: cover;
  /* border: 10px solid rgb(174, 15, 0); */
  /* border-radius: 2px; */
}

.descriptionContainer {
  margin-right: 424px;
}

.title {
  font-family: Abhaya Libre;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.31px;
}

.date {
  font-family: IBM Plex Sans Thai;
  font-size: 11px;
  font-weight: 400;
  line-height: 18.15px;
  text-align: left;
}

.description {
  margin-top: 30px;
  font-family: Abhaya Libre;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.52px;
}

/* Layout for when an image is selected */
.columnLayout {
  display: block;
  height: auto;
}

/* Adjusting images in the column layout */
.imageItemColumn img {
  margin-top: 20px; /* Adjust gap between images */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
}

/* Margin-top for the selected image */
.imageItemColumn .selected img {
  margin-top: 0;
}
