* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Abhaya Libre;
  /* outline: 1px solid red; */
}

body {
  margin: 0 auto; /* Center the body content */
}

li {
  list-style-type: none;
}

ul,
ol {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

/* App.css */
.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent unwanted scrolling */
}

.aside-container {
  flex: 0 0 20%; /* Sidebar width: 1/3 of the screen */
  height: 100vh; /* Full height for sticky scrolling */
  overflow-y: auto; /* Allow scrolling within the sidebar */
  padding: 87px 0 0 56px; /* Add some padding for content spacing */
}

.main-container {
  flex: 0 0 80%; /* Main content: 2/3 of the screen */
  height: 100vh; /* Full height */
  overflow-y: auto; /* Allow scrolling in the main content area */
  padding: 130px 45px 0 375px; /* Optional: Add spacing inside the main container */
}

.projectList {
  padding: 0;
  margin: 0;
  position: sticky; /* Enable sticky behavior */
  top: 20px; /* Adjust based on desired position */
  z-index: 10; /* Ensure it's on top of overlapping content */
}
